body{
    background-color: black;
}
h1{
    background-color: red;
}
#p1{
    background-color: white;
}
#p2{
    background-color: orange;
}
#p3{
    background-color: lightblue;
}
#p4{
    background-color: aqua;
}


