h1{
    text-shadow: 3px 3px 5px hsl(0, 81%, 48%),-3px -3px 5px hsl(241, 86%, 46%);


}
#box1{
    width: 100px;
    height: 100px;
    background-color:  rebeccapurple;
    box-shadow: 3 px 3px 5px ;



}